[package]
name = "hcl-rs"
version = "0.8.1"
authors = ["Martin Ohmann <martinohmann@gmail.com>"]
license = "MIT"
description = "An HCL deserializer"
repository = "https://github.com/martinohmann/hcl-rs"
documentation = "https://docs.rs/hcl-rs/"
keywords = ["hcl", "serde", "serialization"]
categories = ["encoding"]
readme = "README.md"
edition = "2021"
exclude = [
    ".github/",
]

[lib]
name = "hcl"
path = "src/lib.rs"

[[bench]]
name = "benchmark"
harness = false

[[test]]
name = "specsuite"
path = "specsuite/main.rs"
harness = false

[dependencies]
pest = "2.2.1"
pest_derive = "2.2.1"
itoa = "1.0.1"
ryu = "1.0.9"
unicode-ident = "1.0.0"

[dependencies.indexmap]
features = ["serde"]
version = "1.7.0"

[dependencies.serde]
features = ["derive"]
version = "1.0.130"

[dependencies.vecmap-rs]
features = ["serde"]
version = "0.1.5"

[dev-dependencies]
criterion = "0.3"
assert-json-diff = "2.0.1"
pretty_assertions = "1.0.0"
textwrap = "0.15.0"

[dev-dependencies.serde_json]
features = ["preserve_order"]
version = "1.0.68"
