[package]
name = "hcl-rs"
version = "0.14.0"
authors = ["Martin Ohmann <martinohmann@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "HCL parser and formatter for rust with serde support"
repository = "https://github.com/martinohmann/hcl-rs"
documentation = "https://docs.rs/hcl-rs/"
keywords = ["hcl", "serde", "serialization"]
categories = ["encoding"]
readme = "README.md"
edition = "2021"
include = [
  "CHANGELOG.md",
  "Cargo.toml",
  "LICENSE*",
  "README.md",
  "benches/**/*",
  "examples/**/*",
  "src/**/*",
  "tests/**/*"
]

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
all-features = true

[lib]
name = "hcl"
path = "src/lib.rs"

[features]
default = []
perf = ["hcl-primitives/perf"]

[dependencies]
indexmap = { version = "1.9.2", features = ["serde"] }
itoa = "1.0.5"
hcl-primitives = { version = "0.0.2", path = "../hcl-primitives", features = ["serde"] }
pest = "2.5.2"
pest_derive = "2.5.2"
serde = { version = "1.0.151", features = ["derive"] }
vecmap-rs = { version = "0.1.9", features = ["serde"] }

[dev-dependencies]
indoc = "2.0"
pretty_assertions = "1.3.0"
serde_json = { version = "1.0.91", features = ["preserve_order"] }
