---
name: release-please
on:
  workflow_dispatch:
    inputs:
      force-publish:
        required: true
        type: boolean
        description: Publish artifacts even if no new release was created.
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
    steps:
      - name: Run release-please
        id: release-please
        uses: google-github-actions/release-please-action@v4
        with:
          command: manifest

  publish-crates:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created || github.event.inputs.force-publish }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: .github/scripts/cargo-release publish --execute --no-confirm
